html,body{
    height: 100%;
    width: 100%;
}
html{
    font-size: 10px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    outline: none;
    font-size: 1.6rem;
}
nav>#logout{
    display: flex;
    justify-content: end;
    align-items: center;
}
a{
    color: aliceblue;
}
nav{
    display: flex;
    width: 100%;
    margin-bottom: 4.4rem;
    background-color: royalblue;
    height: 4rem;
    justify-content: end;
    align-items: center;
}
#add>h1{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
a:hover{
    color: palevioletred;
}
#ADD:hover{
    background-color: royalblue;
    border-radius: 0.8rem;
}

#name,#sid{
    border-radius: 2.7 rem;
    border-width: 0.2rem;
    width: 17.9rem;
    height: 1.8rem;
    /* background-color: aqua; */
    position: relative;
    left: -4%;
}
form>fieldset{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
table#table{
    margin: 2rem auto;
    width: 85vw;
}
td{
    position: relative;
}
td>input{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,0);
}
table{
    margin-top: 5%;
}
#day{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    position: relative;
}
#day>#date{
    position: absolute;
    left: 30%;
    height: 2rem;
    width: 20rem;
}
#day>#subject{
    position: absolute;
    left: 66%;
    height: 2rem;
    width: 20rem;
}
fieldset{
    width: 80%;
    margin: auto;
}