*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html,body{
    font-size: 10px;
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
}
nav>ul{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}
nav>ul>.list>a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 2rem;
}
#right{
    height: 100%;
    width: 55%;
    /* background-color: aqua; */
}
#left{
    height: 100%;
    width: 45%;
    background-color: #fff;
    position: relative;
}
#rightup{
    display: flex;
    height: 55%;
    width: 100%;
    background-color: brown;
}
#rightdown{
    height:45% ;
    width: 100%;
    /* background-color: pink; */
    background-image: url(https://media.istockphoto.com/id/514068896/photo/men-reading-book.webp?b=1&s=170667a&w=0&k=20&c=3AtDbAQpVxvGpqiHzoPXYjLFu-iF1Js5ZHb6inpj__g=);
    background-size: cover;
    background-position: center;
}
article{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    height: 40rem;
    width: 40rem;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 3.5rem;

}
h1{
    font-size: 5rem;
}
#rightupright{
    width: 50%;
    height: 100%;
    background-color: orange;
    background-image: url(https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
    background-position: center;
    background-size: cover;
}
#rightupleft{
    width: 50%;
    height: 100%;
    background-image: url(https://th.bing.com/th/id/OIGP.HKVO1_4bHh_mvWybVK6i?w=228&h=228&c=6&o=5&dpr=1.5&pid=1.7);
    background-size: cover;
    background-position: center;
}

@media(max-width:895px){
    html{
        font-size: 7px;
    }
}
@media(max-width:640px){
    #main{
        flex-direction: column;
    }
    #left{
        width: 100%;
        height: 50%;
    }
    #right{
        width: 100%;
        height: 50%;
    }
    html{
        font-size: 5px;
    }

}